[submodule "public"]
	path = public
	url = git@github.com:lightreader/lightreader.github.io.git
	branch = master
[submodule "themes/hugo-future-imperfect"]
	path = themes/hugo-future-imperfect
	url = git@github.com:jpescador/hugo-future-imperfect.git
[submodule "themes/mainroad"]
	path = themes/mainroad
	url = git@github.com:Vimux/Mainroad.git
